
<html ng-app="githubViewer">
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    </head>
    <body  ng-controller="MainController">
         <h1> Hello {{message}}
         </h1>
       
       {{error}}

       {{ username }}

       <form name="searchUser">
           <input type="search" placeholder="Username To Find" ng-model="username"/>
           <input type="submit" value="Search" ng-click="search(username)">
       </form>

       <div ng-include="'userdetails.html'" ng-show="user"></div> 
            
        <script type="text/javascript" src="angular.min.js"> </script>
        <script type="text/javascript" src="app.js"> </script>

    </body>
</html>
        